.project_header{
    border-bottom: 1px solid var(--gray);
    display: inline-flex;
}

.project_header_data{
    padding-left: 20px;
}
.project_image{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.project_container{
    padding-top: 200px;
    padding-bottom: 50px;
}
.project_desc {
    text-align: justify;
    text-align: justify;
    font-size: 13px;
    font-weight: 600;
}
.project_desc_mobile {
    text-align: justify;
}
.project_title{
    font-weight: 600;
    font-size: 1.5em;
    margin-top: 0;
}

.project_meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project_meta > div {
    display: inline-block;
}
.project_item {
    margin-bottom: 7px;
    font-weight: 600;
}

.project_item_result{
    text-decoration: none;
    margin: 0;
    font-weight: 500;
    color: var(--gray);
    font-size: 13px;
}

.project_preview{
    width: 70%;
}

.project_data {
    padding-top: 30px;
    display: inline-flex;
    justify-content: space-between;
}

.project_features{
    margin-top: 10px;
    width: 30%;
}

.project_desc_mobile{
    display: none;
}

.project_status_mobile{
    display: none;
}

.offline{
    text-decoration: none;
    margin: 0;
    font-weight: 500;
    color: var(--gray);
    font-size: 13px;
}


.online{
    text-decoration: none;
    margin: 0;
    font-size: 13px;
    color: var(--gray);
    font-size: 13px;
}

.project_features{
    font-size: 13px;
    font-weight: 600;
}